{% if entry.subtype == "horizontal" %}
<ul class="card-text font-weight-light list-group list-group-horizontal">
{% else %}
<ul class="card-text font-weight-light list-group list-group-flush">
{% endif %}
    {% for content in entry.contents %}
      {% if entry.subtype == "horizontal" %}
        <li class="list-group-item flex-fill" style="border: 0;">
      {% else %}
        <li class="list-group-item">
      {% endif %}
      <h5 class="font-italic" style="font-size:1rem;">{{ content.title }}</h5>
      {% if content.items %}
        <ul class="subitems">
          {% for subitem in content.items %}
            <li><span class="subitem" style="font-size: 0.95rem;">{{ subitem }}</span></li>
          {% endfor %}
        </ul>
      {% endif %}
      </li>
    {% endfor %}
</ul>