{% if entry.subtype == 'horizontal' %}
  <ul class="card-text font-weight-light list-group list-group-horizontal">
    {% for content in entry.contents %}
      <li class="list-group-item flex-fill" style="border: 0;">
        <h5 class="font-italic" style="font-size:1rem;">{{ content.title }}</h5>
        {% if content.items %}
          <ul class="subitems">
            {% for subitem in content.items %}
              <li>
                <span class="subitem" style="font-size: 0.95rem;">{{ subitem }}</span>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% else %}
  <ul class="card-text font-weight-light list-group list-group-flush">
    {% for content in entry.contents %}
      <li class="list-group-item">
        <h5 class="font-italic" style="font-size:1rem;">{{ content.title }}</h5>
        {% if content.items %}
          <ul class="subitems">
            {% for subitem in content.items %}
              <li>
                <span class="subitem" style="font-size: 0.95rem;">{{ subitem }}</span>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
